<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- custom css file link  -->
  <link rel="stylesheet" href="src/app/view/paiements/paiement-create/paiement-create.component.css">

</head>
<body>

<div class="container">

  <form action="">

    <div class="row">

      <div class="col">

        <h3 class="title">billing address</h3>

        <div class="inputBox">
          <span>nom :</span>
          <input type="text" placeholder="john ">
        </div>
        <div class="inputBox">
          <span>prenom :</span>
          <input type="text" placeholder=" deo">
        </div>
        <div class="inputBox">
          <span>cin :</span>
          <input type="text" placeholder="EE287536">
        </div>
        <div class="inputBox">
          <span>id :</span>
          <input type="text" placeholder="A65F39GB">
        </div>

        <div class="flex">
          <div class="inputBox">
            <span>Ville :</span>
            <input type="text" placeholder="Morocco">
          </div>
          <div class="inputBox">
            <span>Compte :</span>
            <input type="text" placeholder="">
          </div>
        </div>

      </div>

      <div class="col">

        <h3 class="title">payment</h3>

        <div class="inputBox">
          <span>cards accepted :</span>
          <img src="src/assets/images/card_img.png" alt="">
        </div>
        <div class="inputBox">
          <span>name on card :</span>
          <input type="text" placeholder="mr. john deo">
        </div>
        <div class="inputBox">
          <span>credit card number :</span>
          <input type="number" placeholder="1111-2222-3333-4444">
        </div>
        <div class="inputBox">
          <span>exp month :</span>
          <input type="text" placeholder="january">
        </div>

        <div class="flex">
          <div class="inputBox">
            <span>exp year :</span>
            <input type="number" placeholder="2022">
          </div>

        </div>

      </div>

    </div>

    <input type="submit" value="proceed to checkout" class="submit-btn">

  </form>

</div>

</body>
</html>
